@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-content: center;
}

.header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 21em; 
}

.image img {
    width: 100%;
    height: 100%;
}

.form {
    margin-top: 2em; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

label {
    font-size: 20;
    font-family: "Open Sans", sans-serif; 
}

input {
    margin-top: 6px;
    min-width: 18em;
    height: 35px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif; 
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 30px;
}

.submitBtn {
    font-size: 15px; 
    font-family: "Open Sans", sans-serif; 
    padding: 5px 20px; 
    border: 0;
    background: rgb(72, 173, 231);
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

